@media only screen and (max-width: 1308px){
    .intro{
        flex-direction: column;
        height: auto;
    }

    #hi{
        text-align: center;
    }

    .intro-text{
        left: 0px;
    }

    .profile-img{
        right: 0px;
        width: 40%;
    }

    #full{
        text-align: center;
    }

    #home{
        height: auto;
    }

    #fir{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .About-Me{
        flex-direction: column-reverse;
    }

    .About_me_text{
        margin: auto;
        width: 100%;
    }

    .About_me_text h2{
        text-align: center;
    }
    
    .main-block{
        flex-direction: column;
    }

    .contact-right{
        flex-direction: column;
        width: auto;
    }

    #contact{
        flex-direction: column-reverse;
    }
    .btn{
        width: auto;
    }

    .box{
        height: auto;
        width: auto;
        margin: 20px 11px;
    }
    .intro-out{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .coding_img{
        width: 48%;
        margin: 21px 0px;
    }
    

    .coding_img img{
        width: 100%;
        height: 100%;
    }

    .intro-text{
        width: 80%;
    }

    #hi{
        width: 100%;
    }

    .mess-form{
        align-items: center;
    }

    .profile-img img {
        height: 80%;
        width: 100%;
        transition: 0.5s;
    }
}


@media only screen and (max-width: 1134px){
    .logo{
        display: none;
    }

    .navigation{
        width: 90%;
    }

    .logo-right>img{
        display: none;
    }

    .profile-img{
        width: 70%;
    }

    .coding_img {
        width: 70%;
    }
}